!!!
html
  head
    title= 'Coffee Shop'
    link(rel='stylesheet', href='/css/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='js/lib/jquery.min.js')
    script(src='js/chat.js')
  body!= body

